<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
</head>
<body>
<h1>Department List</h1>
<a href="/employees">Employees List</a> </br>
<a href="/create-department">Add new Department</a> </br></br>

<table border="1">
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="department : ${departments}">
        <tr>
            <td th:text="${department.name}"></td>
            <td><a th:href="@{/edit-department/__${department.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-department/__${department.id}__}">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>